@font-face {
    font-family: "HYLeMiaoTiW";
    src: url("HYLeMiaoTiW.eot"); /* IE9 */
    src: url("HYLeMiaoTiW.eot?#iefix") format("embedded-opentype"),  /*IE6-IE8 */
    
    url("HYLeMiaoTiW.woff") format("woff"), /* chrome、firefox */
    url("HYLeMiaoTiW.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    
    url("HYLeMiaoTiW.svg#HYLeMiaoTiW") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
    body { font-family: "HYLeMiaoTiW"}


